

<h3><%= current_phys.name %>'s Appointments</h3>
<table class="app-table">
  <tr>
    <th>APPOINTMENT</th>
    <th>PATIENT</th>
    <th class="info_box">INFORMATION </th>
  </tr>
  <tr>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
  </tr>
  <tr>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
  </tr>
</table>
<%# Edit Link %>
<a href="/appointments/<%=@appointment.id%>/edit">Edit Appointment</a>
<%# Delete Link %>

