
  

<h2><%= current_phys.name %>'s Appointments  </h2>

<table class="appt_table">
  <thead >
    <th>Appoinments</th>
    <th>Edit Appoinment</th>
    <th>Delete</th>
    <th>PATIENT</th>
    <th>Insurance</th>
    <th>Age</th>
    <th >Address </th>
    <th>ID</th>
    <th>Edit Patient</th>
    <th>Delete</th>
     </thead>
 <% if logged_in?%>
  <% current_phys.patients.each do |p| %>
  
  <tr>
  <% p.appointments.each do |a|%>
  <td><%= a.appointment_date%></td>
  <td class="edit_btn"><a class="myButton" href="/appointments/<%=a.id%>/edit">edit</a></td>

  <td class="delete">
    <form class="" action="/appointments/<%a.id%>/delete" method="post">
  
      <input  type="hidden" name="_method" value="DELETE">
      <input class="myButton" type="submit" name="" value="delete appt">
    </form>
    <% end %>
    </td>
  <td><%= p.name %></td>
  <td><%= p.insurance %></td>
  <td><%= p.age %></td>
  <td><%= p.address %></td>
  <td><%= p.id %></td>
  <td class="edit_btn"><a class="myButton" href="/patients/<%=p.id%>/edit">edit</a></td>
  
  <td class="delete"><form class="" action="/patients/<%=p.id%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input class="myButton" type="submit" name="" value="delete patient"></td>
  
  </tr>
  <% end %>
<% end %>
</table>
  <footer class="branding">
        <small><a class="myButton" href="/physicians/<%current_phys.id%>/edit">Edit my info</a></small>
        
      </footer>

