

<h3><%= current_phys.name %>'s Appointments</h3>

<table class="app-table">
  <thead >
    <th>Appoinments</th>
    <th>PATIENT</th>
    <th>Insurance</th>
    <th>Age</th>
    <th class="info_box">Address </th>
    <th>Edit Appoinments</th>
     </thead>
 
  <% current_phys.patients.zip(current_phys.appointments).each do |p, a| %>
  <tr>
  <td><%= a.appointment_date%></td>
  <td><%= p.name %></td>
  <td><%= p.insurance %></td>
  <td><%= p.age %></td>
  <td><%= p.address %></td>
  <td><a class="myButton" href="/appointments/<%=set_appointment.id%>/edit">Edit</a></td>
  </tr>
<% end %>
</table>



