
<h3>Edit Patient</h3>
<div  class="edit_pat" >
<table>
<th> Previous Info</th>
<tr><td><%=@patient.name%></td></tr>
<tr><td><%=@patient.insurance%></td></tr>
<tr><td><%=@patient.age%></td></tr>
<tr><td><%=@patient.address%></td></tr>
</table>


<form  action="/patients/<%=@patient.id%>/edit" method="post">
<input type="hidden" name="_method" value="patch">
<label>New Info</label>
<br>
<input type="Text" name="name" placeholder="Name" >
       <br>
       
       <input type="Text" name="insurance" placeholder="Insurance">
       <br>
      
       <input type="Number" name="age" placeholder="Age">
       <br>
       
        <input type="Text" name="address"  placeholder="Address" >
       <br>
    <br>

<input type="submit" class="myButton" value="Edit">
</form>

</div>