
<h1>Patient Archive</h1>
<table class="appt_table">
  <thead >
    <th>PATIENT</th>
    <th>Insurance</th>
    <th>Age</th>
    <th >Address </th>
    <th>ID</th>
    <th>Edit</th>
    <th>Delete</th>
     </thead>
 <% if logged_in?%>
  <% current_phys.patients.each do |p| %>
  <tr>
  <td><%= p.name %></td>
  <td><%= p.insurance %></td>
  <td><%= p.age %></td>
  <td><%= p.address %></td>
  <td><%= p.id %></td>
  <td ><a class="myButton" href="/patients/<%=p.id%>/edit">Edit</a></td>
  <td><form class="" action="/patients/<%=p.id%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input class="myButton" type="submit" name="" value="delete patient"></td>
  </tr>
  <% end %>
<% end %>
</table>